
.bg {
  animation: slide 85s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgba(83, 89, 102, 0.445) 50%, rgb(255, 255, 255) 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
  filter: blur(4px)
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 100s;
}

.bg3 {
  animation-duration: 125s;
}

/* Add a right margin to each icon */
.fa {
  margin-left: -12px;
  margin-right: 8px;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}
