#loginSignupButton {
    opacity: 0.7;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease
}

#loginSignupButton:hover {
    opacity: 1;
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
}

#loginSubmitButton, #signUpSubmitButton{
    opacity: 1;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.2s ease-in-out
}

#loginSubmitButton:hover, #signUpSubmitButton:hover{
    opacity: 1;
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
}